.cache
.mixin.out
.pg-native
.sable
.vscode
crash-reports
CustomSkinLoader
data
downloads
Distant_Horizons_server_data/
dynamic-data-pack-cache
dynamic-resource-pack-cache
figura
logs
mods/.connector/
config/jei/world/
config/skinshuffle/skins/
config/skinshuffle/presets.json
config/skinshuffle/skin-caches.json
figura
PortableGit
saves
schematics
screenshots
options.txt
moonlight-global-datapacks
patchouli_books
vinurl
xaero
XaeroWaypoints_BACKUP*
command_history.txt
fabricloader.log
patchouli_data.json
ponders_watched.json
PortableGit-*.7z.exe
usercache.json
usernamecache.json
/config/inventoryprofilesnext/